@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@100;

200;300;400;500;600;700;800;900&display=swap);body {
  background-color: #F9F9F9 !important;
  font-family: "Nunito", sans-serif;
  color: #545454;
}

* {
  box-sizing: border-box;
  margin: 0px;
  color: #545454;
}

hr {
  margin-top: 30px;
  margin-bottom: 50px;
  border: 1px solid rgba(238, 238, 238, 0.466);
}

.invalid-feedback i {
  color: #DE2727;
  margin-right: 10px;
}

.invalid-feedback strong {
  color: #DE2727 !important;
  font-size: 14px !important;
  padding-left: 10px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #545454;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
}

.btn-default {
  background-color: #E0F0E8;
  color: #028144;
  transition: all 0.3s;
}

.btn-default:hover {
  background-color: #028144;
  color: white;
}

.btn-default:hover i {
  color: white;
}

.btn-default i {
  color: #028144;
}

.btn-primary {
  background-color: #028144;
  color: white;
  transition: all 0.3s;
  border: none;
}

.btn-primary:hover {
  opacity: 0.9;
}

.btn-edit {
  background-color: #0073EF;
  color: white;
  transition: all 0.3s;
  border: none;
}

.btn-edit:hover {
  opacity: 0.9;
  color: white;
}

.btn-trash {
  background-color: #DC3545;
  color: white;
  transition: all 0.3s;
  border: none;
}

.btn-trash i {
  color: white;
}

.btn-trash:hover {
  opacity: 0.9;
  color: white;
}

.btn-underline {
  text-decoration: underline;
  color: #028144;
  display: block;
  text-align: center;
}

.center-container {
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.admin-dashboard {
  position: fixed;
  background-color: #DE2727;
  bottom: 20px;
  left: -210px;
  width: 250px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  z-index: 4;
  background-color: #DDDDDD;
  color: #028144;
  transition: left 0.3s;
}

.admin-dashboard i {
  color: #028144;
}

.admin-dashboard:hover {
  left: 0px;
}

#hidden {
  position: fixed;
  display: none;
  right: 0;
  bottom: 20px;
  padding: 10px 50px 10px 10px;
  background-color: #DDDDDD;
  color: #028144;
  box-shadow: 0 4px 10px -4px #aaa;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 20px;
  z-index: 2;
  cursor: pointer;
}

.back-svg-button {
  padding: 10px;
  position: absolute;
  left: 5px;
  top: 5px;
  font-size: 20px;
  color: #028144;
}

.back-svg-button:hover {
  background-color: #E0F0E8;
}

.paggination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.paggination ul {
  padding: 0px;
  list-style: none;
}

.paggination ul li {
  float: left;
  padding: 5px 10px;
  margin: 5px;
  background-color: #E0F0E8;
}

.paggination ul .paggination-active {
  background-color: #028144;
  color: white;
}

.flex-row {
  margin: 100px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form {
  width: 400px;
  display: grid;
  grid-template-columns: 1fr 50px;
}

.form input {
  padding: 15px;
  border: none;
}

.form input:focus {
  outline: none;
}

.form button {
  border: none;
  background-color: white;
}

.form button svg {
  font-size: 20px;
}

.search-div {
  margin-top: 80px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-div form {
  margin-top: 20px;
  width: 500px;
  height: 50px;
  background-color: white;
}

.li-active {
  background-color: #028144;
  color: white;
}

header {
  z-index: 2;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #f0f0f0;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav .nav-left-logo {
  padding-top: 15px;
  height: 80px;
}

header nav .nav-left-logo img {
  height: 50px;
}

header nav .fa-bars {
  font-size: 20px;
  display: none;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

header nav .nav-right-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

header nav .nav-right-menu ul li {
  cursor: pointer;
  float: left;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 10px;
  margin-left: 5px;
  transition: all 0.3s;
}

header nav .nav-right-menu ul li:hover {
  background-color: #E0F0E8;
  color: #028144;
}

header nav .nav-right-menu ul .dropdown {
  position: relative;
}

header nav .nav-right-menu ul .dropdown .current-language {
  display: flex;
}

header nav .nav-right-menu ul .dropdown .current-language img {
  height: 20px;
  padding-right: 10px;
}

header nav .nav-right-menu ul .dropdown-content {
  display: none;
  position: absolute;
  width: 150px;
  left: -14px;
  top: 33px;
  padding: 10px 0px;
}

header nav .nav-right-menu ul .dropdown-content .dropdown-list {
  font-size: 15px;
  background-color: white;
  padding: 10px 0px;
  box-shadow: 0px 0px 3px #e7e7e7;
  border-radius: 10px;
}

header nav .nav-right-menu ul .dropdown-content .dropdown-list a {
  font-weight: 400;
  padding: 5px 10px;
}

header nav .nav-right-menu ul .dropdown-content .dropdown-list a:hover {
  background-color: #E0F0E8;
  color: #028144;
}

header nav .nav-right-menu ul .dropdown-content .dropdown-language {
  width: 100px;
}

header nav .nav-right-menu ul .dropdown-content .dropdown-language .dropdown-language-item {
  display: flex;
  justify-content: space-evenly;
}

header nav .nav-right-menu ul .dropdown-content .dropdown-language .dropdown-language-item img {
  height: 20px;
}

header nav .nav-right-menu ul .li-dropdown a {
  display: block;
}

header nav .nav-right-menu ul .li-dropdown:hover .dropdown-content {
  display: block;
}

.calltoaction-container {
  margin-top: 80px;
  height: calc(100vh - 80px);
  max-height: 800px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-column-gap: 50px;
}

.calltoaction-container .cta-left {
  padding-top: 100px;
}

.calltoaction-container .cta-left h1 {
  font-size: 45px;
}

.calltoaction-container .cta-left .btn {
  padding: 20px 40px;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  width: 350px;
  text-align: center;
  margin-top: 30px;
}

.calltoaction-container .cta-right {
  min-height: 200px;
  background-image: url(/images/ilustration.png?238ae9f76888647b3a1c96daf4923854);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-list {
  max-width: 1000px;
  display: grid;
}

.card-list .card {
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 3px 3px 20px rgba(226, 226, 226, 0.808);
  display: grid;
  grid-template-columns: 200px 1fr;
  transition: all 0.3s;
}

.card-list .card:hover {
  box-shadow: 0px 0px 20px #b6b6b6;
}

.card-list .card .card-thumbnail {
  width: 200px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-list .card .card-description {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-list .card .card-description h3 {
  margin: 0px;
}

.card-list .card .card-description .card-description-footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: auto;
}

.card-list .card .card-description .card-description-footer a {
  position: relative;
}

.slideshow-container {
  margin-top: 80px;
}

.slideshow-container .swiper-container {
  margin-top: 30px;
  max-height: 600px;
  height: auto;
}

.slideshow-container .swiper-container .swiper-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.card-grid {
  display: grid;
}

.card-grid .card-grid-group {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-grid .card-grid-group .card {
  background-color: white;
  position: relative;
  border: 1px solid #F0F0F0;
  display: grid;
  grid-template-rows: 200px 1fr;
}

.card-grid .card-grid-group .card .card-status {
  position: absolute;
  right: 5px;
  top: 5px;
  color: white;
  padding: 10px;
  border: 2px solid #dddddd;
  border-radius: 50%;
  font-weight: bold;
  text-transform: uppercase;
}

.card-grid .card-grid-group .card .card-status-open {
  background-color: #028144;
}

.card-grid .card-grid-group .card .card-status-close {
  background-color: #da1f1f;
}

.card-grid .card-grid-group .card .card-thumbnail {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.card-grid .card-grid-group .card .card-description {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.card-grid .card-grid-group .card .card-description h3 {
  margin: 0;
}

.card-grid .card-grid-group .card .card-description p {
  font-size: 14px;
  margin-top: 10px;
}

.card-grid .card-grid-group .card .card-description .card-description-footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.card-grid .card-grid-group .card .card-description .card-description-footer .btn {
  margin-top: 20px;
  text-align: center;
}

.services-container {
  margin: 100px 0px 50px 0px;
  min-height: 200px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
}

.services-container .service-item {
  height: 100%;
  position: relative;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.164);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.services-container .service-item p {
  background-color: #028144;
  width: 100%;
  height: 100%;
  position: absolute;
  margin-bottom: -500px;
  background-color: #028144;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: margin-bottom 0.5s ease-in-out;
}

.services-container .service-item:hover p {
  margin-bottom: 0px;
}

.vision-container {
  padding: 40px 0px;
  margin: 50px auto;
  max-width: 1000px;
}

.vision-container h1 {
  text-align: center;
}

.partners-container {
  border-bottom: 1px solid #DCDCDC;
  background-color: #F6F6F6;
  padding: 50px 0px;
}

.partners-container h3 {
  margin-bottom: 40px;
  text-align: center;
}

.partners-container .partners {
  display: flex;
  justify-content: space-between;
}

.partners-container .partners img {
  height: 100px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  opacity: 0.8;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s, -webkit-filter 0.3s;
  transition: transform 0.3s, filter 0.3s, opacity 0.3s;
  transition: transform 0.3s, filter 0.3s, opacity 0.3s, -webkit-filter 0.3s;
}

.partners-container .partners img:hover {
  transform: scale(1.1);
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}

.partners-container .partners :nth-child(4) {
  transform: scale(1.1);
}

.partners-container .partners :nth-child(4):hover {
  transform: scale(1.2);
}

footer {
  background-color: #F6F6F6;
  color: #545454;
}

footer .center-container {
  padding: 40px 0px 40px 0px;
  border-bottom: 1px solid #DCDCDC;
  display: grid;
  grid-template-columns: 150px 1fr 1fr 2fr;
  grid-column-gap: 20px;
}

footer .center-container img {
  width: 100%;
}

footer .center-container h3 {
  padding-bottom: 10px;
}

footer .center-container ul {
  font-size: 14px;
  list-style: none;
}

footer .center-container ul li:hover {
  text-decoration: underline;
}

footer .center-container ul form {
  background-color: #E0F0E8;
  display: grid;
  grid-template-columns: 1fr 40px;
}

footer .center-container ul form .form-input {
  border: 0px;
  padding: 15px 0px 15px 15px;
  outline: none;
}

footer .center-container ul form .form-button {
  background-color: white;
  border: 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

footer .center-container ul form i {
  color: #028144;
}

footer .center-container ul .social-platform {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

footer .center-container ul .social-platform a {
  font-size: 20px;
  background-color: #E0F0E8;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  transition: all 0.3s;
  cursor: pointer;
}

footer .center-container ul .social-platform a:nth-child(1) {
  color: #4267B2;
}

footer .center-container ul .social-platform a:nth-child(2) {
  color: #1DA1F2;
}

footer .center-container ul .social-platform a:nth-child(3) {
  color: #D9003F;
}

footer .center-container ul .social-platform a:hover {
  box-shadow: 5px 5px 10px lightgrey;
}

footer .footer-bottom {
  text-align: center;
  padding: 20px;
  font-size: 13px;
}

.mobile-menu {
  transition: width 0.2s;
  position: fixed;
  top: 0;
  overflow: hidden;
  width: 0px;
  max-height: calc100vh;
  background-color: white;
  z-index: 200;
}

.mobile-menu .header {
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mobile-menu .header .fa-times {
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.mobile-menu .menu {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
}

.mobile-menu .menu ul {
  padding: 0px 20px;
  margin: 0px;
  list-style: none;
}

.mobile-menu .menu ul .btn {
  padding: 5px 20px;
}

.mobile-menu .menu .lang {
  padding: 40px;
  display: flex;
  justify-content: space-evenly;
}

.mobile-menu .menu .lang img {
  width: 30px;
}

.iframe-contact {
  display: block;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.contact-description {
  background-color: #F6F6F6;
  padding: 100px;
}

.contact-description .center-container {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 50px;
}

.contact-description .center-container .form-comment {
  max-width: 900px;
  width: 100%;
}

.contact-description .center-container .form-comment .input-group {
  display: grid;
  margin-top: 20px;
}

.contact-description .center-container .form-comment .input-group-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.contact-description .center-container .form-comment .input-text {
  border: 1px solid #E9E9E9;
  padding: 15px;
}

.contact-description .center-container .form-comment .input-text:focus {
  outline: 1px solid #028144;
  background-color: #E0F0E8;
}

.contact-description .center-container .form-comment .input-textarea {
  border: none;
  padding: 15px;
  border: 1px solid #E9E9E9;
}

.contact-description .center-container .form-comment .input-textarea:focus {
  outline: 1px solid #028144;
  background-color: #E0F0E8;
}

.contact-description .center-container .form-comment button {
  border: none;
  border-radius: 0px;
  max-width: 200px;
  cursor: pointer;
}

.contact-description .center-container ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.contact-description .center-container ul li {
  margin-bottom: 10px;
  font-size: 15px;
  text-align: right;
}

.news-div {
  margin-top: 55px;
  margin-bottom: 50px;
  min-height: 200px;
  height: auto;
}

.news-div .img-cover {
  height: 400px;
  background-color: #da1f1f;
}

.news-div .img-cover img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.news-div .news-content {
  position: relative;
  max-width: 900px;
  width: 100%;
  height: auto;
  padding: 40px;
  background-color: white;
  margin: -50px auto 0px auto;
  z-index: 1;
  position: relative;
  border: 1px solid #E9E9E9;
}

.news-div .news-content small {
  font-size: 13px;
}

.news-div .news-content p {
  font-size: 15px;
}

.news-div .form-comment {
  max-width: 900px;
  width: 100%;
  margin: 50px auto 0px auto;
}

.news-div .form-comment .input-group {
  display: grid;
  margin-top: 20px;
}

.news-div .form-comment .input-group-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.news-div .form-comment .input-text {
  border: 1px solid #E9E9E9;
  padding: 15px;
}

.news-div .form-comment .input-text:focus {
  outline: 1px solid #028144;
  background-color: #E0F0E8;
}

.news-div .form-comment .input-textarea {
  border: none;
  padding: 15px;
  border: 1px solid #E9E9E9;
}

.news-div .form-comment .input-textarea:focus {
  outline: 1px solid #028144;
  background-color: #E0F0E8;
}

.news-div .form-comment button {
  border: none;
  border-radius: 0px;
  max-width: 200px;
  cursor: pointer;
}

.news-div .news-comment {
  margin: 50px auto 20px auto;
  max-width: 900px;
  width: 100%;
  display: grid;
  grid-row-gap: 20px;
}

.news-div .news-comment .comment {
  background-color: white;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba(211, 211, 211, 0.473);
}

.news-div .news-comment .comment small {
  font-size: 12px;
}

.news-div .news-comment .comment p {
  font-size: 15px;
}

.auction-div .auction-content {
  background-color: white;
  margin: 100px auto 20px auto;
  max-width: 900px;
  width: 100%;
  padding: 40px;
  position: relative;
  border: 1px solid #E9E9E9;
}

.auction-div .auction-content small {
  font-size: 13px;
}

.auction-div .auction-content p {
  font-size: 15px;
}

.auction-div .auction-content .auction-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}

.auction-div .auction-content .auction-footer a i {
  margin-right: 10px;
}

.cover-background {
  background-image: url(/images/coverbg.jpg?7517c8206968917b43d426863922d59c);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  height: 200px;
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-background h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-top: -50px;
  color: #f1f1f1;
}

.cover-background-noimage {
  height: 200px;
  width: 100%;
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover-background-noimage h2 {
  font-size: 25px;
  text-transform: uppercase;
  margin-top: -50px;
  color: #545454;
}

main {
  min-height: 100px;
  margin-top: -50px;
  margin-bottom: 20px;
  display: grid;
  align-items: start;
  grid-template-columns: 1fr 350px;
  grid-column-gap: 20px;
}

main .bg-white {
  background-color: white;
  padding: 40px;
  box-shadow: 1px 3px 6px #3f3f3f18;
  border-radius: 10px;
  grid-template-columns: 1fr !important;
}

main .bg-white .p-flex-center {
  display: flex;
  justify-content: center;
  padding: 20px;
}

main .bg-white .frame {
  width: 100%;
  height: 400px;
  margin-bottom: 50px;
}

main .bg-white .frame:last-child {
  margin-bottom: 0px;
}

main .main-left-full {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 10px !important;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

main .main-left-full .gallery-image-item {
  overflow: hidden;
  cursor: url("/images/plus_cursor.png") 25 25, pointer;
  box-shadow: 1px 3px 6px #3f3f3f18;
}

main .main-left-full .gallery-image-item img {
  display: block;
  width: 100%;
  height: 200px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: white;
  transition: transform 0.4s;
}

main .main-left-full .gallery-image-item img:hover {
  transform: scale(1.05);
}

main .main-left-full .schedule-button {
  width: 100%;
  padding: 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  outline: none;
  cursor: url("/images/plus_cursor.png") 25 25, pointer;
}

main .main-left .h1-style {
  position: relative;
  margin-bottom: 30px;
}

main .main-left .h1-style:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 70px;
  background-color: #028144;
  bottom: 0;
  left: 0;
}

main .main-left p {
  margin-bottom: 10px;
  text-align: justify;
}

main .main-left ul {
  padding: 0px 0px 20px 20px;
  list-style: none;
}

main .main-left a:hover {
  color: #028144;
  text-decoration: underline;
}

main .main-left .top-service {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

main .main-left .top-service .service-item {
  padding: 30px;
  background-color: #E0F0E8;
  box-shadow: 1px 3px 6px #3f3f3f18;
  border-radius: 10px;
  min-height: 100px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main .main-left .top-service .service-item i {
  padding: 30px;
  font-size: 25px;
  border-radius: 50%;
  margin-bottom: 20px;
}

main .main-left .top-service .service-item:hover {
  cursor: pointer;
  transition: all 0.3s;
}

main .main-left .service {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}

main .main-left .service img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

main .main-left .service .service-content {
  background-color: white;
  box-shadow: 1px 3px 6px #3f3f3f18;
  padding: 20px 30px 30px 30px;
}

main .main-left .service .service-content h2 {
  text-align: center;
  margin-bottom: 30px;
}

main .main-left .service .service-content p {
  font-size: 15px;
  text-align: justify;
}

main .main-right {
  display: grid;
  grid-row-gap: 20px;
}

main .main-right .btn-no-style {
  margin-top: 0px;
  background-color: transparent;
  text-align: center;
  color: #028144;
}

main .main-right .btn-no-style:hover {
  background-color: #E0F0E8;
}

main .main-right .component {
  background-color: white;
  padding: 20px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 1px 3px 6px #3f3f3f18;
}

main .main-right .component h4 {
  text-align: center;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 20px;
}

main .main-right .component .component-item {
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-column-gap: 10px;
  border-bottom: 1px solid rgba(211, 211, 211, 0.342);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

main .main-right .component .component-item img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

main .main-right .component .component-item .component-item-description a {
  font-size: 15px;
}

main .main-right .component .component-item .component-item-description a:hover {
  text-decoration: underline;
}

main .main-right .component .component-item .component-item-description small {
  font-size: 13px;
  font-weight: bold;
  color: #028144;
}

main .main-right .component .component-item:nth-child(5) {
  border-bottom: none;
}

main .main-right .component-auction {
  display: grid;
  grid-row-gap: 10px;
}

main .main-right .component-auction .auction-item {
  padding: 15px;
  background-color: white;
  box-shadow: 1px 3px 6px #3f3f3f18;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 15px 1fr;
  grid-column-gap: 10px;
  align-items: center;
}

main .main-right .component-auction .auction-item span {
  width: 15px;
  height: 15px;
  background-color: #028144;
  border-radius: 50%;
}

main .main-right .component-auction .auction-item p {
  font-size: 15px;
}

main .main-right .component-gallery {
  display: grid;
}

main .main-right .component-gallery div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  border-radius: 10px;
  margin: 20px 0px 10px 0px;
}

main .main-right .component-gallery .gallery-image {
  width: 100%;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .calltoaction-container {
    grid-template-columns: 1fr !important;
  }

  .calltoaction-container .cta-left {
    grid-row-start: 2;
  }

  .calltoaction-container .cta-left h1 {
    font-size: 25px !important;
    width: 70%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }

  .calltoaction-container .cta-left .btn {
    padding: 15px 30px;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
  }

  .calltoaction-container .cta-right {
    margin-top: 20px;
  }

  .card-grid .card-grid-group {
    grid-template-columns: 1fr 1fr;
  }

  .card-grid .card-grid-group {
    grid-template-columns: 1fr 1fr;
  }

  .news-div .img-cover {
    margin-left: -10px !important;
    margin-right: -10px !important;
    height: 300px;
  }

  .news-div .img-cover img {
    height: 300px;
  }

  .news-div .news-content h2 {
    font-size: 22px;
  }

  .news-div .form-comment {
    width: 100%;
  }

  .news-div .form-comment .input-group-two {
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
  }

  .news-div .form-comment button {
    max-width: 100%;
  }

  .news-div .news-comment {
    width: 100%;
  }

  main .bg-white .frame {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }

  main .bg-white .frame:last-child {
    margin-bottom: 0px;
  }

  main .main-left-full {
    grid-template-columns: repeat(2, 1fr);
  }

  .services-container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .services-container .service-item {
    height: 100%;
    width: 200px;
    min-height: 200px;
  }

  .partners-container .partners {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    justify-items: center;
  }

  .partners-container .partners img {
    height: 120px;
  }

  footer .center-container {
    padding: 40px 40px;
    grid-template-columns: 1fr 1fr !important;
    grid-row-gap: 50px;
  }

  footer .center-container ul {
    padding: 0px;
  }

  footer .center-container ul h3 {
    text-transform: uppercase;
  }

  footer .newsletter {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media (max-width: 576px) {
  .search-div {
    height: 250px;
  }

  .search-div h1 {
    font-size: 25px;
  }

  .search-div form {
    width: 100%;
  }

  .calltoaction-container {
    grid-template-columns: 1fr !important;
  }

  .calltoaction-container .cta-left {
    grid-row-start: 2;
  }

  .calltoaction-container .cta-left h1 {
    font-size: 25px !important;
    width: 80%;
  }

  .calltoaction-container .cta-left .btn {
    width: 100%;
  }

  .calltoaction-container .cta-right {
    margin-top: 20px;
    height: 200px;
  }

  .flex-row {
    margin: 50px 0px 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .flex-row h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .flex-row form {
    width: 100%;
  }

  .flex-row div {
    font-size: 15px;
  }

  .card-list .card {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    display: grid;
    grid-template-columns: 1fr;
    border-radius: 10px;
  }

  .card-list .card .card-thumbnail {
    width: 100%;
    height: 150px;
    -o-object-fit: cover;
       object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .card-list .card .card-description {
    display: grid;
    grid-template-columns: 1fr;
  }

  .card-list .card .card-description h3 {
    font-size: 17px;
  }

  .card-list .card .card-description small {
    grid-row-start: 1;
    font-size: 12px;
  }

  .card-list .card .card-description .card-description-footer {
    display: flex;
    flex-direction: column;
  }

  .card-list .card .card-description .card-description-footer a {
    margin-top: 30px;
    width: 100%;
    text-align: center;
  }

  .card-grid .card-grid-group {
    grid-template-columns: 1fr;
  }

  .card-grid .card-grid-group .card {
    box-shadow: 3px 3px 20px rgba(226, 226, 226, 0.808);
    position: relative;
    display: flex;
    padding: 0px 0px;
    border-radius: 10px;
  }

  .card-grid .card-grid-group .card .card-thumbnail {
    display: none;
  }

  .card-grid .card-grid-group .card .card-description {
    border-radius: 10px;
  }

  .card-grid .card-grid-group .card .card-description h3 {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
  }

  .card-grid .card-grid-group .card .card-description small {
    display: none;
  }

  .card-grid .card-grid-group .card .card-description p {
    display: none;
  }

  .card-grid .card-grid-group .card .card-description .card-description-footer {
    display: none;
  }

  .news-div .news-content {
    padding: 40px 20px 20px 20px;
  }

  .auction-div .auction-content {
    padding: 40px 20px 20px 20px;
  }

  .auction-div .auction-content .auction-footer {
    flex-direction: column;
    margin-top: 70px;
  }

  .auction-div .auction-content .auction-footer a {
    width: 100%;
    text-align: center;
  }

  main .bg-white .frame {
    width: 100%;
    height: 200px;
    margin-bottom: 30px;
  }

  main .bg-white .frame:last-child {
    margin-bottom: 0px;
  }

  main .main-left-full {
    grid-template-columns: 1fr;
  }

  main .main-left .top-service {
    grid-template-columns: 1fr;
  }

  main .main-left .top-service .service-item {
    max-width: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  main .main-left .service img {
    height: 250px;
  }

  .contact-description {
    padding: 30px 10px;
  }

  .contact-description .center-container .form-comment .input-group-two {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  .contact-description .center-container .form-comment button {
    max-width: 100%;
  }

  .contact-description .center-container ul {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 50px;
  }

  .contact-description .center-container ul li {
    text-align: center;
  }

  .services-container {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .services-container .service-item {
    height: 100%;
    width: 200px;
    min-height: 200px;
  }

  .vision-container {
    padding: 40px 0px;
    margin: 50px auto;
    max-width: 1000px;
  }

  .vision-container h1 {
    text-align: center;
    font-size: 20px;
  }

  .vision-container ul {
    padding: 10px 20px;
    list-style: none;
    font-size: 15px;
    text-align: justify;
  }

  .partners-container .partners {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
    justify-items: center;
  }

  .partners-container .partners img {
    height: 120px;
  }

  footer .center-container {
    padding: 40px 40px;
    display: flex;
    flex-direction: column;
    grid-row-gap: 50px;
  }

  footer .center-container ul {
    padding: 0px;
  }

  footer .center-container ul h3 {
    text-transform: uppercase;
  }
}

@media (max-width: 900px) {
  header nav .fa-bars {
    display: block;
  }

  header nav .nav-right-menu {
    display: none;
  }

  header nav .nav-left-logo img {
    height: 40px;
    margin-top: 5px;
  }

  .calltoaction-container {
    grid-template-columns: 1fr 300px;
  }

  .calltoaction-container .cta-left {
    padding-top: 100px;
  }

  .calltoaction-container .cta-left h1 {
    font-size: 35px;
  }

  main {
    min-height: 100px;
    margin-top: -50px;
    margin-bottom: 20px;
    display: grid;
    align-items: start;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
  }

  main .main-right {
    margin: 50px auto;
    width: 100%;
    max-width: 500px;
  }

  .contact-description {
    padding: 30px 10px;
  }

  .contact-description .center-container {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }

  .contact-description .center-container ul {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 50px;
  }

  .contact-description .center-container ul li {
    text-align: center;
  }

  footer .center-container {
    grid-template-columns: 1fr 1fr 2fr;
  }

  footer .center-container img {
    display: none;
  }
}

.login_background {
  background-image: url("/images/login_back.png");
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_background .flex-row {
  margin-top: 0px;
  padding-top: 20px;
  max-width: 1000px;
  width: 100%;
}

.login_background .flex-row img {
  height: 40px;
}

.login_background .flex-row a {
  font-size: 15px;
}

.login_background .flex-row a i {
  padding-right: 10px;
}

.login_background form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  margin-top: 50px;
}

.login_background form h1 {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 400;
  color: #028144;
}

.login_background form input {
  padding: 10px;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #C9C8C7;
  margin-bottom: 20px;
  outline: none;
}

.login_background form input:focus {
  border-bottom: 1px solid #028144;
}

.login_background form button {
  border-radius: 30px;
  height: 40px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.dashboard .dashboard_navigation {
  float: left;
  width: 300px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: fixed;
}

.dashboard .dashboard_navigation ul {
  list-style: none;
  padding: 0px;
  margin: 20px;
}

.dashboard .dashboard_navigation ul li {
  margin-top: 5px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.2s;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.dashboard .dashboard_navigation ul li:hover {
  background-color: #E0F0E8;
  color: #028144;
}

.dashboard .dashboard_navigation ul li:hover i {
  color: #028144;
}

.dashboard .dashboard_navigation .li-active {
  background-color: #E0F0E8;
  color: #028144;
}

.dashboard .dashboard_navigation .li-active i {
  color: #028144;
}

.dashboard .dashboard_navigation .li-logout:hover {
  background-color: #DE2727;
  color: white;
}

.dashboard .dashboard_navigation .li-logout:hover i {
  color: white;
}

.dashboard .dashboard_content {
  background-color: #F9F9F9;
  margin-left: 300px;
  width: calc(100% - 300px);
  display: flex;
  justify-content: center;
}

.dashboard .dashboard_content .content {
  width: 100%;
  margin: 20px 40px 20px 20px;
}

.dashboard .dashboard_content .content .content_stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.dashboard .dashboard_content .content .content_stats h1,
.dashboard .dashboard_content .content .content_stats h4 {
  margin: 0px !important;
}

.dashboard .dashboard_content .content .content_stats h1 {
  font-size: 40px;
}

.dashboard .dashboard_content .content .content_stats .column_2 {
  display: grid;
  height: auto;
  min-height: 200px;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 20px;
}

.dashboard .dashboard_content .content .content_stats .column_2 .column_top {
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.dashboard .dashboard_content .content .content_stats .column_2 .column_bottom {
  height: 100%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.dashboard .dashboard_content .content .content_stats .column {
  height: auto;
  min-height: 200px;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
}

.dashboard .dashboard_content .content .content_stats .column .column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-size: 15px;
}

.dashboard .dashboard_content .content .content_stats .column .column-body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.dashboard .dashboard_content .content .content_stats .column .column-body small {
  font-size: 12px;
  border-radius: 20px;
  padding: 5px;
  background-color: #028144;
  color: white;
  margin-left: 5px;
}

.dashboard .dashboard_content .content .content_stats .column .column-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.dashboard .dashboard_content .content .post-image {
  height: 400px;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.dashboard .dashboard_content .content .post-content {
  width: 900px;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: -50px;
  background-color: white;
  box-shadow: 0 4px 10px -4px #c2c0c0;
  border-radius: 10px;
  position: relative;
}

.dashboard .dashboard_content .content .post-content .post-body {
  margin: 40px 0px;
}

.dashboard .dashboard_content .content .post-content .post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .dashboard_content .content .gallery_form {
  margin: 30px auto;
  width: 500px;
  display: grid;
  grid-gap: 10px;
}

.dashboard .dashboard_content .content .gallery_form div {
  display: grid;
  grid-template-columns: 1fr 150px;
}

.dashboard .dashboard_content .content .gallery_form input[type=file] {
  display: none;
}

.dashboard .dashboard_content .content .gallery_form .custom-file-upload {
  background-color: #ffffff;
  padding-left: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #F4F4F4;
}

.dashboard .dashboard_content .content .gallery_form .custom-file-upload i {
  padding-right: 10px;
}

.dashboard .dashboard_content .content .gallery_form input[type=submit] {
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #E0F0E8;
  color: #028144;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.dashboard .dashboard_content .content .gallery_form {
  margin: 30px auto;
  width: 500px;
  display: grid;
  grid-gap: 10px;
}

.dashboard .dashboard_content .content .gallery_form div {
  display: grid;
  grid-template-columns: 1fr 150px;
}

.dashboard .dashboard_content .content .gallery_form input[type=file] {
  display: none;
}

.dashboard .dashboard_content .content .gallery_form .custom-file-upload {
  background-color: #ffffff;
  padding-left: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #F4F4F4;
}

.dashboard .dashboard_content .content .gallery_form .custom-file-upload i {
  padding-right: 10px;
}

.dashboard .dashboard_content .content .gallery_form input[type=submit] {
  border: none;
  outline: none;
  font-weight: bold;
  background-color: #E0F0E8;
  color: #028144;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  cursor: pointer;
}

.dashboard .dashboard_content .content .content_gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.dashboard .dashboard_content .content .content_gallery .a-link {
  display: block;
}

.dashboard .dashboard_content .content .content_gallery .gallery_item {
  position: relative;
  cursor: url("/images/plus_cursor.png") 25 25, pointer;
  position: relative;
  background-color: rebeccapurple;
  height: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.dashboard .dashboard_content .content .content_gallery .gallery_item:hover .btn-delete {
  bottom: 5px;
}

.dashboard .dashboard_content .content .content_gallery .gallery_item .btn-delete {
  position: absolute;
  right: 5px;
  bottom: -100px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0F0E8;
}

.dashboard .dashboard_content .content .content_gallery .gallery_item .btn-delete i {
  color: #DE2727;
}

.dashboard .dashboard_content .content .content_gallery .gallery_item .btn-delete:hover {
  background-color: #DE2727;
}

.dashboard .dashboard_content .content .content_gallery .gallery_item .btn-delete:hover i {
  color: white;
}

.dashboard .dashboard_content .content .content_gallery .gallery_item img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dashboard .dashboard_content .content .message {
  position: relative;
  width: 700px;
  margin: 50px auto 0px auto;
  padding: 50px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px -4px #e6e6e6;
}

.dashboard .dashboard_content .content .message h3 {
  margin-bottom: 0px;
}

.dashboard .dashboard_content .content .message .message-header {
  padding-bottom: 30px;
}

.dashboard .dashboard_content .content .message .message-body {
  margin-bottom: 50px;
}

.dashboard .dashboard_content .content .message .message-body p {
  text-align: justify;
}

.dashboard .dashboard_content .content .message .message-footer {
  display: flex;
  justify-content: space-between;
}

.dashboard .dashboard_content .content .comment-section {
  max-width: 900px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.dashboard .dashboard_content .content .comment-section .comment {
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 10px -4px #c2c0c0;
  border-radius: 10px;
}

.dashboard .dashboard_content .content .comment-section .comment .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.dashboard .dashboard_content .content .comment-section .comment .top div a {
  font-size: 18px;
  margin-left: 20px;
}

.column_background_color {
  background-color: #F1F1F1;
  transition: box-shadow 0.2s;
}

.column_background_color:hover {
  box-shadow: 0 4px 10px -4px #c2c0c0;
}

.m-none {
  margin-top: 0px !important;
  margin-bottom: 50px !important;
}

.form-style {
  position: relative;
  background-color: white;
  padding: 50px;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px -4px #d6d6d6;
  display: grid;
  grid-gap: 30px;
}

.form-style .form-header {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: -25px;
  margin-left: 50px;
}

.form-style .form-header .btn-back {
  background-color: #E0F0E8;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.form-style .form-header h1 {
  padding: 0px;
  margin: 0px;
  color: #028144;
}

.form-style .form-group {
  display: grid;
  grid-row-gap: 5px;
}

.form-style .form-group .label {
  font-size: 15px;
  font-weight: bold;
}

.form-style .form-group .input-text {
  padding: 15px;
  border-radius: 5px;
  background-color: #F4F4F4;
  border: none;
  outline-color: #028144;
}

.form-style .form-group .file-hide {
  display: none;
}

.form-style .form-group .custom-file-upload {
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #F4F4F4;
  padding: 15px;
  cursor: pointer;
}

.form-style .form-group .custom-file-upload i {
  padding-right: 15px;
}

.form-style .form-group .input-textarea {
  background-color: #F4F4F4;
  border: none;
  border-radius: 5px;
  outline-color: #028144;
  padding: 5px;
}

.form-style .form-group-button .form-submit-button {
  float: right;
  padding: 15px;
  min-width: 150px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

#example .img-cover {
  height: 70px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

#example .span-new-message {
  background-color: blue;
  color: #028144;
  padding: 5px;
  color: white;
}

.btn-show-back {
  position: absolute;
  background-color: #E0F0E8;
  top: -25px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

